<MudItem xs="12" Class="upWindow">
    <div style="display: flex; justify-content: center;">
        <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
            <MudButton>Сформировать схему</MudButton>
        </MudButtonGroup>
    </div>
</MudItem>